<div class="row message-previewer">
  <p> <%= message.body.truncate(90) %> </p>
</div>
<div class="row message-previewer">
  <p class="message-time"> <%= message.created_at.strftime('%l:%M %P %-d %b')%>
  <%= link_to 'delete conversation', message_path(message), method: :delete, data: { confirm: "Are you sure?"} %></p>
</div>





