<h1>
  Inbox 
</h1>

<div class = "message" >
  <% @received_messages.each do |message| %>
    <h3>
    <%= User.find(message.author_id).name %>
    </h3>
    <h3>
    <%= message.subject %>
    </h3>
    <h4>
    <%= message.body %>
    </h4>
    <h5>
    <%= button_to 'Reply', new_message_path(message), recipient: message.author_id, subject: message.subject, body: message.body, method: 'get' %>
    </h5>

  <% end %>
</div>