<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Inbox</h1>
    </div> <!--Col -->
  </div> <!--Row -->
  <div class="row">
    <div class="col-xs-3">
      <% @correspondents.each do |correspondent| %>
          <div class="conversation interaction-list" data-id="<%= current_user.last_message_involving(correspondent).id %>">
            <h5> <%= correspondent.name %> </h5>
            <%= render 'message_preview', message: current_user.last_message_involving(correspondent) %>
          </div>
      <% end %>
    </div><!--Col -->

    <div class="col-xs-3">
      <div class="correspondent-message" data-my-id="<%= current_user.id %>"></div>   
    </div><!--Col -->
    

    <script type="text/template" id="message-template">
      <div class='message-area' data-user-id="{{ notme_id }}">
        {{#messages}}
          <p class="message-time message-time-main"> {{ created_at}} </p>
          <div class="{{ from }} message-holder">
            <p class="message-copy"> {{ body }} </p>
          </div>
        {{/messages}}
      </div>
      
      <form action='/messages' class='new-message' method='post'>
        <input type='hidden' name='recipient_id' value='{{ notme_id }}'>
        <input type='text' name='body'>
        <button type='submit' class="btn btn-success">Send</button>
      </form>
    </script>

    <script type='text/template' id="single-message-template">
      <p class="message-time"> {{ created_at}} </p>
      <div class="{{ from }}">
        <p class="message-copy"> {{ body }} </p>
      </div>
    </script>

  </div> <!--Row -->
</div> <!--Container -->







