<div id="song-details">
  <script type="text/template" id="song-details-with-preview-template">
    <p>{{ artist_name }}</p>
    <p>{{ title }}</p>
    <p>{{ duration.minutes }}:{{ duration.seconds }}</p>
    <audio src="{{ preview_url }}" controls>
      <p>Your browser does not support the audio element.</p>
    </audio>
    <img src="{{ release_image }}">
    <a class="add-track" href="#">Add Track</a>
  </script>
  <script type="text/template" id="song-details-without-preview-template">
    <p>{{ artist_name }}</p>
    <p>{{ title }}</p>
    <p>{{ duration.minutes }}:{{ duration.seconds }}</p>
    <a class="add-track" href="#">Add Track</a>
  </script>
</div>