<div class="container-fluid">
  <div class="row col-md-1 col-md-offset-5 vertical-align">
    
    <%= link_to "Create Your Mixtape", new_mixtape_path, class: "btn btn-primary btn-lg"%> 
  </div>
</div>