/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require bootstrap_and_overrides
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 a, a:hover {
  text-decoration: none;
 }
 
@font-face {  
  font-family: 'hand1';  
  src: url('Moon Flower.ttf'); 
} 

@font-face {
  font-family: 'hand2';  
  src: url('Moon Flower Bold.ttf');   
}

@font-face {
  font-family: 'hand3';  
  src: url('DJHTRIAL.otf'),
        url('DJHTRIAL.ttf') format('truetype');     
}

@font-face {
  font-family: 'hand4';  
  src: url('Notera_PersonalUseOnly.ttf');     
}

@font-face {
  font-family: 'hand5';  
  src: url('Signerica_Fat.ttf');     
}

@font-face {
  font-family: 'hand6';  
  src: url('Signerica_Thin.ttf');     
}


h2.cassette {
  font-family: 'hand4';
 }

h3.cassette {
  font-family: 'hand4';
}

.profile-picture-holder {
  display: inline-block;
  width: auto;
  height: 250px;
}

.matchee {
  
}

.profile-picture {
  width: auto;
  height: 250px;
  padding: 20px;
}

.fb_picture {
  width: 300px;
  height: auto;
  padding: 20px;
}

.profile-pictures-container {
  display: inline-block;
}

.select-pictures-container {
  display: inline-block;
}

#slider { 
  margin: 10px; 
} 

div.ui-slider-range.ui-widget-header {
    background: #0000ff;
}

.matchee-profile {
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 2px; 
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px; 
  padding-bottom: 50px;
}

.match-value {
  display: none;
}

.photo-error {
  display: none;
}

.photo-nav{
  display: inline-block;
}

