// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.me {
  text-align: right;
  background-color: #0067e7;
}

.them {
  background-color: #b7b7b7;
  text-align: left;
}

.message-previewer {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.notification {
  color: #222222;
}

.badge {
  color: white;
  background-color: red;
}

.message-time {
  font-size: 11px;
}

.message-holder {
  min-height: 30px;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-wrap: surpress;
}

.message-time-main {
  text-align: center;
  font-size: 11px;
}


.message-small-fonts {
  font-size: 11px;
}

.me{
  color: white;
}

.interaction-list:hover {
  background-color: #fff6e5;
}

.selected-message {
  background-color: #ffd27d;
}

.selected-message:hover {
  background-color: #ffd27d;
}

.correspondent-message {
  height: 500px;
  overflow: scroll;
}

