// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tape-container {
  margin: 0 auto;
  width: 600px;
}

@media(max-width: 580px) {
  .welcome_tape {
    -webkit-transform: scale(0.6) translate(-150px, 0);
  }
}

.welcome-message{
  margin-top: 20px;
}

.welcome-text{
  font-family: "hand2";
  font-size: 28px;
  text-align: center;
}
.welcome_tape{
  background-image: image-url('welcome_tape.png');
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.tape-label {
  margin-bottom:20px;
  z-index: 1;
}

.tape-title {
  padding-top: 90px;
  font-family: 'Architects Daughter', cursive;;
  overflow: hidden;
  margin: 0 100px;
  white-space: nowrap;
}

.create_form {
  text-align: center;
  form {
    display: inline-block;
  }
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 24px;
}

.btn-send {
  color: #ffffff;
  background-color: #72799B;
  border-color: #727984;
}

.btn-send:hover {
  color: #ffffff;
  background-color: #7279CD;
  border-color: #7279CB;
}


